.clearfix:before, .clearfix:after { display: table; content: ""; zoom: 1; *display: inline; }
.clearfix:after { clear: both; }

/* Override some defaults */
html, body {
  background: #fafafa;
}

/* Page header tweaks */
.page-header {
  padding: 20px 20px 2px 20px;
  margin: 0;
  background: -moz-linear-gradient(center top , #fafafa, #eaeaea) repeat scroll 0 0 #fafafa;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#eaeaea));
  background: -webkit-linear-gradient(top , #fafafa, #eaeaea) repeat scroll 0 0 #fafafa;
  background: -ms-linear-gradient(top , #fafafa, #eaeaea) repeat scroll 0 0 #fafafa;
  background: -o-linear-gradient(top , #fafafa, #eaeaea) repeat scroll 0 0 #fafafa;
  background: linear-gradient(top , #fafafa, #eaeaea) repeat scroll 0 0 #fafafa;
}

.page-header h1 {
  float: left;
}
.page-header h1 a {
  font-size: 40px;
  color: #909090;
  text-shadow: 0 1px 0 #fff;
}

.page-header form {
  margin-left: 180px;
}

.page-header input.search {
  width: 61.8%;
  height: 25px;
  font-size: 18px;
  padding-left: 8px;
  font-family: monospace;
  color: #444;
}

/* The white background content wrapper */
.content {
  padding: 0;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.sidebar, .main {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.container-fluid .sidebar {
  float: left;
  display: block;
  width: 200px;
}
.sidebar .inner {
  padding: 20px 10px;
}
.sidebar ul {
  margin-left: 10px;
  list-style: none;
}
.main {
  margin-left: 200px;
  border-left: 1px solid #eee;
  background-color: #fff;
}
.greetings, .results {
  display: none;
}
.greetings.inner {
  padding: 20px;
}
.greetings ul {
  margin-top: 1em;
}

.results {
  font-family: monospace;
  font-size: 15px;
}
.result, .no-results {
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
}
.result p {
  margin: 0;
}
.result a.signature,
.result a.signature:hover {
  color: #444;
}
.result .more {
  display: none;
  font-family: sans-serif;
}
.result.active .more {
  display: block;
}
.result.active .comment-short {
  display: none;
}
.result.active {
  background: #fff5e8;
}
.result .parent {
  color: #226622;
}
.result .params,
.result .return {
  color: #791010;
}
.result .comment-short,
.result .comment-short p {
  font-family: sans-serif;
  margin-top: 3px;
  font-size: 12px;
  color: #888;
}
.result div.more {
  margin-top: 5px;
}
.result .location {
  margin-bottom: 3px;
}
.result .tag {
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.result .package {
  color: #888;
  background: #f0f0f0;
}
.result .deprecated {
  background: #f89406;
  color: #fff;
}
.result .qualified-name {
  color: #888;
  font-size: 12px;
}

.result a.scaladoc-link {
  display: none;
  font-size: 12px;
  color: #888;
}
.result a.scaladoc-link {
  text-decoration: underline;
}
.result a.scaladoc-link:hover {
  text-decoration: none;
}
.result .deprecation {
  margin: 8px 0;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #f0f0f0;
}

.result dl {
  display: none;
  margin: 8px 0;
  padding: 5px 10px;
  background: #eafaea;
  border: 1px solid #e0f0e0;
}
.result dt {
  display: block;
  float: left;
  font-weight: bold;
}
.result dd {
  display: block;
  margin-bottom: 5px;
  padding-left: 90px;
}
.result dd p {
  margin: 0;
}
.status {
  font-family: sans-serif;
  padding: 10px 0 10px 20px;
  background: #fafafa;
  border-bottom: 1px solid #eee;
}
.status.loading {
  background: #d0e0ff;
}

.error {
  background-color: #F5F5F5;
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-style: monospace;
}

#result-template {
  display: none;
}

footer {
  margin: 0;
  padding: 20px;
}

.footer p {
  text-align: center; /* center align it with the container */
}

.topbar .btn {
  border: 0;
}
