/* Override some defaults */
html, body {
  background-color: #eee;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.clearfix:after {
  clear: both;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

h1 a {
  color: #404040;
}

.greetings .inner {
  padding-right: 1em;
}
.greetings ul {
  margin-top: 1em;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.search-results {
  display: none;
  font-family: monospace;
  font-size: 15px;
}
.search-results p {
  font-size: 15px;
  margin: 0;
}
.search-result .qualified-name {
  color: #fff;
  font-size: 12px;
}
.search-result:hover .qualified-name {
  color: #888;
}
.search-results .parent {
  color: #448844;
}
.search-result .comment {
  font-size: 12px;
  color: #888;
}

#search-result-template {
  display: none;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.page-header h1, .page-header form {
  float: left;
}

.page-header form {
  margin-left: 20px;
}

.page-header input.search {
  width: 400px;
  height: 25px;
  font-size: 18px;
  padding-left: 7px;
  font-family: monospace;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}
