.clearfix:before, .clearfix:after { display: table; content: ""; zoom: 1; *display: inline; }
.clearfix:after { clear: both; }

/* Override some defaults */
html, body {
  background-color: #eee;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 3px 20px;
  margin: 0;
}

.page-header h1 {
  float: left;
}
.page-header h1 a {
  font-size: 40px;
  color: #606060;
}

.page-header form {
  margin-left: 200px;
}

.page-header input.search {
  width: 61.8%;
  height: 25px;
  font-size: 18px;
  padding-left: 8px;
  font-family: monospace;
  color: #444;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 0;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.sidebar, .main {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.sidebar {
  float: left;
  display: block;
  width: 219px;
  border-right: 1px solid #eee;
}
.sidebar .inner {
  padding: 20px;
}
.sidebar .links {
  margin-top: 20px;
}
.main {
  margin-left: 220px;
}

.greetings, .search-results {
  display: none;
}
.greetings.inner {
  padding: 20px;
}
.greetings ul {
  margin-top: 1em;
}

.search-results {
  font-family: monospace;
  font-size: 14px;
}
.search-result, .no-results {
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
}
.search-result:hover {
  background: #f8f8f8;
}
.search-result p {
  font-size: 14px;
  margin: 0;
}
.search-result .more {
  display: none;
}
.search-result .parent {
  color: #448844;
}
.search-result .params,
.search-result .return {
  color: #791010;
}
.search-result div.comment {
  margin-top: 3px;
}
.search-result .shy,
.search-result .shy p {
  font-size: 12px;
  color: #888;
}
.search-result a.scaladoc-link {
  text-decoration: underline;
}
.search-result a.scaladoc-link:hover {
  text-decoration: none;
}

.error {
  background-color: #F5F5F5;
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-style: monospace;
}

#search-result-template {
  display: none;
}

.footer p {
  text-align: center; /* center align it with the container */
}

.topbar .btn {
  border: 0;
}
